setup.py
MANIFEST.in
binding_data.csv
*.csv
my_experiments/
*.xlsx
alphafold/
build
.idea/
temp/
.fasta
*.png
pandasai.log
cache
exports
myfastasequences
try_outs
dist
build
.venv
requirements.txt
AutoViz_Plots
*.tsv
*.html
!additional_material/*.html 
NanoNet*
NanoNetResults
test.ipynb
src/test_data/test_files/paired/*
__pypackages__
.pytest_cache
__pycache__
exposeq_venv
!src/ExpoSeq/software_tests/test_files/binding_data.csv
pdm.lock
.pdm-python
.pypirc
Data_and_Code
models
model_weights
predict_fold.py
predict.py
exposeq_install_test
NanoNet
.pypirc
