setup.py
MANIFEST.in
binding_data.csv
*.csv
my_experiments/
*.xlsx
alphafold/
build
.idea/
temp/
.fasta
*.png
pandasai.log
cache
exports
myfastasequences
try_outs
dist
build
.venv
requirements.txt
AutoViz_Plots
*.tsv
*.html
NanoNet*
NanoNetResults